android/.idea/
java-home-inventory-core/.idea/
java-home-inventory-core/bin/
java-home-inventory-core/.settings/
*.iml
android-home-inventory-app/.idea/
android-home-inventory-app/app/google-services.json
